@import "./mixins/mixins";
@import "./popper";

@include b(popover) {
  position: absolute;
  background: #FFFFFF;
  min-width: 150px;
  border-radius: 4px;
  border: 1px solid #EBEEF5;
  padding: 12px;
  z-index: 2000;
  color: #606266;
  line-height: 1.4;
  text-align: justify;
  font-size: 14px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  word-break: break-all;

  @include m(plain) {
    padding: 12px;
  }

  @include e(title) {
    color: #303133;
    font-size:  16px;
    line-height: 1;
    margin-bottom: 12px;
  }

  @include e(reference) {
    &:focus:not(.focusing), &:focus:hover {
      outline-width: 0;
    }
  }

  &:focus:active, &:focus {
    outline-width: 0;
  }
}
